[user]
	name = frantic1048
	email = i@frantic1048.com
	signingkey = 22D8A46B2CDA6605A1C0CFD1E060B3E215CE49BB
[core]
	excludesfile = ~/.gitignore
[diff]
	algorithm = histogram
[commit]
	gpgsign = false
[merge]
	ff = only
[push]
	default = simple
[pull]
	ff = only
[rebase]
	autoSquash = true
	instructionFormat = "%aN\t%s"
[http]
	postBuffer = 1048576000
[gui]
	fontui = -family \"Linden Hill\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0

# filters
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# private filters for Vanilla repo
# MEMO: debugging is not easy...
# remove geometry lines from gitk config
[filter "vanilla.gitk"]
	clean = sed -e '/^set geometry/d'
	smudge = cat
	required = true

# always comment out sway bg config
# to prevent file not found error in another computer
[filter "vanilla.sway"]
	clean = sed -e 's/^\\s*bg/    \\x23bg/g'
	smudge = cat
	required = true

# ignore tree_view, and color config in htop
[filter "vanilla.htop"]
	clean = sed -e '/^tree_view\\|^color_scheme\\|^sort_key/d'
	smudge = cat
	required = true

# always comment out npm proxy config
# remove token and registry
[filter "vanilla.npm"]
	clean = sed -e 's/^proxy=/\\x23proxy=/' -e 's/^https-proxy=/\\x23https-proxy=/' -e '/_authToken=/d' -e '/^registry=/d'
	smudge = cat
	required = true

# VS Code config
# ignore zoomLevel
[filter "vanilla.code"]
	clean = sed -e '/window.zoomLevel/d'
	smudge = cat
	required = true
