[user]
	name = frantic1048
	email = i@frantic1048.com
	signingkey = 6F6E9653B88BA07F5EED1B0096F3CA6256A95C51
[includeIf "gitdir:~/chaitin/"]
    path = ~/.gitconfig.user.chaitin
[push]
	default = simple
[http]
	postBuffer = 1048576000
[commit]
	gpgsign = false
[core]
	excludesfile = ~/.gitignore
[merge]
	ff = only
[gui]
	fontui = -family \"Linden Hill\" -size 11 -weight normal -slant roman -underline 0 -overstrike 0
[diff]
	algorithm = histogram
[rebase]
	autoSquash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# remove geometry lines from gitk config
[filter "vanilla.gitk"]
	clean = sed -e '/^set geometry/d' %f
	smudge = cat %f
	required = true

# always comment out sway bg config
# to prevent file not found error in another computer
[filter "vanilla.sway"]
	clean = sed -e 's/^\\s*bg/    \\x23bg/g' %f
	smudge = cat %f
	required = true

# ignore tree_view, and color config in htop
[filter "vanilla.htop"]
	clean = sed -e '/^tree_view\\|^color_scheme/d' %f
	smudge = cat %f
	required = true

# always comment out npm proxy config
[filter "vanilla.npm"]
	clean = sed -e 's/^proxy=/\\x23proxy=/' -e 's/^https-proxy=/\\x23https-proxy=/' %f
	smudge = cat %f
	required = true
