# To check a file's attributes, use:
# git check-attr -a path/to/file

# Linguist overrides
/screenshots/** linguist-documentation
/Brewfile* linguist-language=Ruby
/*.json linguist-language=JSON

# Binary stuff
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
