#dolphin
.directory
!/.directory
!/bin/bin/.directory

# elvish
/elvish/*
!/elvish/.elvish
/elvish/.elvish/*
!/elvish/.elvish/rc.elv
!/elvish/.elvish/lib

# atom
/atom
!/atom/.atom/.apmrc
!/atom/.atom/keymap.cson
!/atom/.atom/styles.less

# fcitx
/fcitx
!/fcitx/.config/fcitx/config
!/fcitx/.config/fcitx/data/QuickPhrase.mb

# tint2
/tint2
!/tint2/.config/tint2/tint2rc

# vscode
/vscode/*
!/vscode/.config
/vscode/.config/*
!/vscode/.config/Code
/vscode/.config/Code/*
!/vscode/.config/Code/custom_css.css
!/vscode/.config/Code/User
/vscode/.config/Code/User/*
!/vscode/.config/Code/User/settings.json
!/vscode/.config/Code/User/keybindings.json

# code
/code-oss/*
!/code-oss/.config
/code-oss/.config/*
!/code-oss/.config/Code - OSS
/code-oss/.config/Code - OSS/*
!/code-oss/.config/Code - OSS/custom_css.css
!/code-oss/.config/Code - OSS/User
/code-oss/.config/Code - OSS/User/*
!/code-oss/.config/Code - OSS/User/settings.json
!/code-oss/.config/Code - OSS/User/keybindings.json
!/code-oss/.config/Code - OSS/User/snippets

# color
/color/.local/*
!/color/.local/share
/color/.local/share/*
!/color/.local/share/DisplayCAL
/color/.local/share/DisplayCAL/*
!/color/.local/share/DisplayCAL/storage
/color/.local/share/DisplayCAL/storage/*
!/color/.local/share/DisplayCAL/storage/*/
/color/.local/share/DisplayCAL/storage/*/*
!/color/.local/share/DisplayCAL/storage/*/*.icc

# krita
/krita/.local/*
!/krita/.local/share
/krita/.local/share/*
!/krita/.local/share/krita

# pulseaudio
/pulseaudio/*
!/pulseaudio/.config/pulse/default.pa
!/pulseaudio/.config/pulse/daemon.conf

# pipewire
/pipewire/*
!/pipewire/.config/
/pipewire/.config/*
!/pipewire/.config/pipewire
/pipewire/.config/pipewire/*
!/pipewire/.config/pipewire/pipewire.conf.d
!/pipewire/.config/pipewire/client.conf.d

/git/.gitconfig.user.work
