# text filters
/git/.config/git/gitk filter=vanilla.gitk
/sway/.config/sway/config filter=vanilla.sway
/htop/.config/htop/htoprc filter=vanilla.htop
/npm/.npmrc filter=vanilla.npm
"code-oss/.config/Code - OSS/User/settings.json" filter=vanilla.code

# binary stuff
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text