# Linguist overrides
/screenshots/** linguist-documentation
*.Brewfile linguist-language=Ruby

# Text filters
/git/git/gitk filter=vanilla.gitk
/sway/sway/config filter=vanilla.sway
/htop/htop/htoprc filter=vanilla.htop
/npm/.npmrc filter=vanilla.npm
/vscode/User/settings.json filter=vanilla.code

# Binary stuff
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
