enable-normalization-flatten-containers = false
enable-normalization-opposite-orientation-for-nested-containers = false

[mode.main.binding]
alt-0 = "workspace 10"
alt-1 = "workspace 1"
alt-2 = "workspace 2"
alt-3 = "workspace 3"
alt-4 = "workspace 4"
alt-5 = "workspace 5"
alt-6 = "workspace 6"
alt-7 = "workspace 7"
alt-8 = "workspace 8"
alt-9 = "workspace 9"
alt-e = "focus down"
alt-enter = "exec-and-forget /Applications/kitty.app/Contents/MacOS/kitty --single-instance ~"
alt-f = "fullscreen"
alt-h = "split horizontal"
alt-i = "focus up"
alt-n = "focus left"
alt-o = "focus right"
alt-p = "layout tiles horizontal vertical"
alt-r = "mode resize"
alt-s = "layout v_accordion"
alt-shift-0 = "move-node-to-workspace 10"
alt-shift-1 = "move-node-to-workspace 1"
alt-shift-2 = "move-node-to-workspace 2"
alt-shift-3 = "move-node-to-workspace 3"
alt-shift-4 = "move-node-to-workspace 4"
alt-shift-5 = "move-node-to-workspace 5"
alt-shift-6 = "move-node-to-workspace 6"
alt-shift-7 = "move-node-to-workspace 7"
alt-shift-8 = "move-node-to-workspace 8"
alt-shift-9 = "move-node-to-workspace 9"
alt-shift-c = "reload-config"
alt-shift-e = "move down"
alt-shift-i = "move up"
alt-shift-n = "move left"
alt-shift-o = "move right"
alt-shift-space = "layout floating tiling"
alt-t = "layout h_accordion"
alt-v = "split vertical"

[mode.resize.binding]
e = "resize height +50"
enter = "mode main"
esc = "mode main"
i = "resize height -50"
n = "resize width -50"
o = "resize width +50"

[[on-window-detected]]
if.app-id = "com.todoist.mac.Todoist"
run = ["layout floating", "move-node-to-workspace 3"]

[[on-window-detected]]
if.app-id = "com.apple.MobileSMS"
run = ["move-node-to-workspace 3"]

[[on-window-detected]]
if.app-id = "com.apple.Music"
run = ["move-node-to-workspace 3"]

[[on-window-detected]]
if.app-id = "com.apple.AppStore"
run = ["layout floating", "move-node-to-workspace 3"]

[[on-window-detected]]
if.app-id = "io.zsa.keymapp"
run = ["layout floating"]

[[on-window-detected]]
if.window-title-regex-substring = "^Playwright Inspector$"
run = ["move-node-to-workspace 3"]

[workspace-to-monitor-force-assignment]
1 = 1
2 = 3
3 = "built-in"
