/*
 *
 * [too cursive] Cedarville Cursive
 * [not very good] Kaushan Script
 * [a little boring] Bad Script
 * [sexy, but stroke too light] Calligraffitti
 * [not very readable in small size] Arizonia 
 * [not bad] Nothing You Could Do 
 * Alex Brush
 */

/*.mtk3  /* crayon vscode */
/* .mtk11 /* tommorow night blue */
.mtk15, .mtk4 /*dark+*/
 {
  font-family: "Bilbo" !important;
  font-size: 1.8em;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.mtk10 /*dark+*/ {
  font-family: "IM Fell English SC";
  font-size: 1.6em;
}

[id="workbench.parts.sidebar"] {
  background: transparent !important;
}

[id="workbench.parts.statusbar"] {
  background: transparent !important;
}

[id="workbench.parts.editor"] > .content {
  background: transparent !important;
}

/* text color in sidebar, etc. */
.monaco-shell {
  /* color: #fac; */
}

.monaco-workbench {
  background: transparent !important;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.4)
    ),
    url("http://rabbithouse/pandada/DSC_0000_BURST20181209214409075.avg.jpg") !important;
  /* url("http://rabbithouse/wallpaper/Konachan.com - 32892 darker_than_black night pai scenic signed sky stars tree water.jpg") !important; */
  /* url("http://rabbithouse/wallpaper/yande.re%20480256.jpg") !important; */
  background-attachment: fixed, fixed !important;
  background-repeat: no-repeat, no-repeat !important;
  /* background-size: cover, 1920px 1389.5314285714285px !important; */
  background-size: cover, cover !important;
  background-position: center, top !important;
}

/* container of tabs and buttons */
.title.tabs {
  background: transparent !important;
}

.tab {
  background: transparent !important;
}

.tab.active {
  background: rgba(0, 0, 0, 0.4);
}

.editor-container {
  background: transparent !important;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .margin {
  background: transparent !important;
}

.monaco-editor.focused {
  background: transparent !important;
}

.separator-border {
  --separator-border: rgba(255, 255, 255, 0.1) !important;
}
