/*.mtk3  /* crayon vscode */
/* .mtk11 /* tommorow night blue */
.mtk16, .mtk5 /*dark+*/
 {
  font-family: "Bilbo" !important;
  font-size: 1.8em;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

.mtk11 /*dark+*/ {
  font-family: "IM Fell English SC";
  font-size: 1.6em;
}

/*
 *
 * [too cursive] Cedarville Cursive
 * [not very good] Kaushan Script
 * [a little boring] Bad Script
 * [sexy, but stroke too light] Calligraffitti
 * [not very readable in small size] Arizonia 
 * [not bad] Nothing You Could Do 
 * Alex Brush
 */
